body
{
    display: flex; 
    flex-direction: column;
    margin: 0;  
    align-items: center;
    background-color: #121212;
    color: #FFFFFF;
}

.title
{
    font-size: 52px;
    font-weight: bold;
}

.game-container
{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-color: #383838;
    margin: 20px;
}

.main
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.header
{
    padding: 10px;
    font-size: 25px;
}

.footer
{
    padding: 10px;
    font-size: 16px;
}

.output-message
{
    height: 28px;
    width: 240px;
    background-color: #8f8d8d;
    border-style: solid;
    border-width: 2px;
    border-color: #121212;
    padding: 5px;
    margin: 10px;
}

.winner-message
{
    height: 28px;
    width: 200px;
    background-color: #8f8d8d;
    border-style: solid;
    border-width: 2px;
    border-color: #121212;
    padding: 5px;
    margin: 10px;
}

.image-btn
{
    border-style: solid;
    border-color: #121212;
    border-radius: 100%;
    border-width: 5px;
    padding: 10px;
    margin: 10px;
}

.output-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}