body
{
    display: flex; 
    flex-direction: column;
    margin: 0;  
    align-items: center;
    background-color: #121212;
    color: #FFFFFF;
}

.title
{
    font-size: 52px;
    font-weight: bold;
}