body
{
    display: flex; 
    flex-direction: column;
    margin: 0;  
    align-items: center;
    background-color: #121212;
    color: #FFFFFF;
}

.title
{
    font-size: 52px;
    font-weight: bold;
}

.game-container
{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-color: #383838;
}

.main
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}